*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}

.container
{
    height: 100%;
    width: 100%;
    background-color: rgb(148, 214, 14);
    /* background-color:  black; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,200px);
    gap: 0.4rem;
    padding: 4rem;
    border: 2px solid  white;
    /* justify-items: start; */
    /* justify-items: end; */
    /* justify-items: center; */
    /* justify-items: stretch; */
    /* align-items: center;
    align-items: end;
    align-items: start; */
    /* align-items: stretch; */


    /* align item or justify item ke liye ek shorthand property hai jo dono ko eksath le aaiyega */

    place-items: center;
   
}

.item
{
     height: 50px;
    width: 100px;
    background-color:  beige;
    border: 5px solid black;
    /* justify-self: stretch; */
    /* align-self: start; */
    /* align-self: end; */
    /* align-self: center; */
    /* align-self: stretch; */

    /* align self and justify self ka shorthand property hota hai place self */

    /* place-self: stretch; */
    /* place-self: stretch; */
}