* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  overflow-x: none;
  background-color:  #e2e5e8;
  background-image: url();
  
}
.navcontainer {
  width: 100vw;
  background-color: rgba(0, 102, 255, 0.575);
  /* background-color:  #0093E9; */
  /* background-color:  red; */
  background-image: linear-gradient(160deg, green, beige);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
nav {
  width: 100%;
  overflow-x: none;
}
#navlist {
  width: 100%;
  padding: 19px;
  /* margin-left: 15px;
  margin-right: 15px; */
  list-style: none;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
#navlogo {
  font-size: 2.5rem;
  color: azure;
}
a {
  text-decoration: none;
  color: white;
}
#navitems {
  display: flex;
  gap: 40px;
  /* color: white; */
}
.footerbox{
  width: 100%;
}
.footerbox
{
  /* width: 100vw; */
  background-color: rgba(0, 102, 255, 0.575);
  background-image: linear-gradient(160deg, green, beige);
  
  text-align: center;
  min-height: 30px;
  font-size: 1.5rem;
  
  
}
.footerbox p{
color: azure;
  width:100%;
  font-size: 2rem;
}
.contentbox
{
  width: 70%;
  margin: auto;
  align-items: center;
  border: 1px solid black;
}
.item
{
  /* display: flex; */
  /* justify-content: space-between; */
}
.rightbox1
{
height: 400px; 
}
