.container
{
    height: 1000px;
    width: 1000px;
    display: flex;
     justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.box
{
    width: 400px;
    height: 400px;
    background-color:  beige;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: auto; */
    transition: all 3s linear 1s;
}
/* .container
{
    height: 100pw;
    width: 100ph;
    display: flex;
     justify-content: center;
    align-items: center;
} */
.box:hover{
    /* transform:rotate(360deg) ; */
    /* transform:scale(2) ; */
    /* transform: rotate(-45deg); */
    /* transform:skew(45deg) ; */

    transform: translate( 500px, 300px);
}
p{
    font-size: 36px;
}